RewriteEngine on
# если запрос идет не на фаил
RewriteCond %{REQUEST_FILENAME} !-f
# перенапрвить запрос на index.php, [QSA] престыковывает get параметры в html запрос
RewriteRule (.*) index.php?$1 [L,QSA]